

@model FitNightSnackMgr.ViewModels.SnackInfoViewModels.SnackInfoViewModels

@{
    ViewData["Title"] = "Create";
}



<h1>商品信息创建</h1>

<h4>商品信息</h4>
<hr />
<div class="row">

    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="@Model.SnackInfo.SnackNum" class="control-label"></label>
                <input asp-for="@Model.SnackInfo.SnackNum" class="form-control" value="@Model.SnackNum" />
                <span asp-validation-for="@Model.SnackInfo.SnackNum" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.SnackInfo.CategoryId" class="control-label"></label>
                <select asp-for="@Model.CategoryName" asp-items="@Model.CategoriesName" class="selectpicker form-control" data-container="body" data-live-search="true" data-hide-disabled="true">
                </select>

            </div>
            <div class="form-group">
                <label asp-for="@Model.SnackInfo.Name" class="control-label"></label>
                <input asp-for="@Model.SnackInfo.Name" class="form-control" />
                <span asp-validation-for="@Model.SnackInfo.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.SnackInfo.Price" class="control-label"></label>
                <input asp-for="@Model.SnackInfo.Price" class="form-control" />
                <span asp-validation-for="@Model.SnackInfo.Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.SnackInfo.ImgUrl" class="control-label"></label>
                <input type="file" asp-for="@Model.FormFile" class="form-control" />
                @if (Model.CheckPicture == false)
                {<span id="SnackInfo_ImgUrl-error" class="text-danger">请检查图片格式</span>}

            </div>
            <div class="form-group">
                <label asp-for="@Model.SnackInfo.DetailInfo" class="control-label"></label>
                <input asp-for="@Model.SnackInfo.DetailInfo" class="form-control" />
                <span asp-validation-for="@Model.SnackInfo.DetailInfo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="创建" class="btn btn-primary" />
            </div>
           
        </form>
    </div>
</div>




<div>
    <a asp-action="Index">返回主界面</a>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
