@model FitNightSnackMgr.ViewModels.SnackInfoViewModels.SnackInfoDetailViewModel;

@{
    ViewData["Title"] = "Details";
}



<div class="alert alert-danger" role="alert">您确定要删除本款小吃吗?</div>

<div>
    <h4>@Model.SnackInfo.Name</h4>
    <hr />
    <dl class="row">


        <dt class="col-sm-2">

            @*<img  src="@model=>model"/>*@

            @Html.DisplayNameFor(model => model.SnackInfo.ImgUrl)
        </dt>
        <dd class="col-sm-10">
            <img src="@Model.SnackInfo.ImgUrl" width="225px" height="225px" />
        </dd>






        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SnackInfo.SnackNum)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SnackInfo.SnackNum)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CateGoryName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CateGoryName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SnackInfo.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SnackInfo.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SnackInfo.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SnackInfo.Price)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SnackInfo.DetailInfo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SnackInfo.DetailInfo)
        </dd>
    </dl>
</div>
<form asp-action="Delete">
    <input type="hidden" asp-for="@Model.SnackInfo.Id" />
    <input type="submit" value="删除" class="btn btn-danger" /> |
    <a asp-action="Index" class="btn btn-info" >回到列表</a>
</form>

