@model FitNightSnackMgr.ViewModels.SnackInfoViewModels.SnackInfoDetailViewModel;

@{
    ViewData["Title"] = "Details";
}

<h1>商品详情</h1>

<div>
    <h4>@Model.SnackInfo.Name</h4>
    <hr />
    <dl class="row">


        <dt class="col-sm-2">

            @*<img  src="@model=>model"/>*@

            @Html.DisplayNameFor(model => model.SnackInfo.ImgUrl)
        </dt>
        <dd class="col-sm-10">
            <img src="@Model.SnackInfo.ImgUrl" width="225px" height="225px"/>
        </dd>






        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SnackInfo.SnackNum)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SnackInfo.SnackNum)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CateGoryName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CateGoryName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SnackInfo.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SnackInfo.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SnackInfo.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SnackInfo.Price)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SnackInfo.DetailInfo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SnackInfo.DetailInfo)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" class="btn btn-success"  asp-route-id="@Model.SnackInfo.Id">编辑</a> |
    <a asp-action="Index" class="btn btn-info">回到列表</a>
</div>
