@model FitNightSnackMgr.ViewModels.UserViewModels.UserViewModels



@{
    Layout = "~/Views/Shared/_Layout _user.cshtml";
}
@{
    ViewData["Title"] = "Delete";
}

<h1>用户账号状态管理</h1>
@if (Model.User.Status == 0)
{<h3>确定要解禁该用户吗?</h3> }
else { <h3>确定要封禁该用户吗?</h3>}


<div>
    <h4>User</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(Model => Model.User.UserAccount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(Model => Model.User.UserAccount)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(Model => Model.User.Password)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(Model => Model.User.Password)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(Model => Model.User.Money)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(Model => Model.User.Money)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(Model => Model.User.Phone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(Model => Model.User.Phone)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(Model => Model.User.Address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(Model => Model.User.Address)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="@Model.User.Id" />
        <input type="submit" value="是" class="btn btn-danger" /> |
        <a asp-action="Index">返回主菜单</a>
    </form>
</div>
