@model FitNightSnackMgr.ViewModels.UserViewModels.UserViewModels




@{
    ViewData["Title"] = "Details";
}

<h1>用户详情页</h1>

<div>
    <h4>用户信息</h4>
    <hr />
    <dl class="row">


        <dt class="col-sm-2">
            @Html.DisplayNameFor(Model => Model.User.UserName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(Model => Model.User.UserName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(Model => Model.User.UserAccount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(Model => Model.User.UserAccount)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(Model => Model.User.Money)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(Model => Model.User.Money)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(Model => Model.User.Phone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(Model => Model.User.Phone)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(Model => Model.User.Address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(Model => Model.User.Address)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index" class="btn btn-success">返回菜单</a>
</div>
