@model FitNightSnackMgr.ViewModels.AdminViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>管理员详细信息</h1>

<div>

    <hr />
    <dl class="row">
        <dt class="col-sm-6">
            @Html.DisplayNameFor(model => model.WorkMan.Id)
        </dt>
        <dd class="col-md-2">
            @Html.DisplayFor(model => model.WorkMan.Id)
        </dd>

        <dt class="col-sm-6">
            @Html.DisplayNameFor(model => model.WorkMan.AdminName)
        </dt>
        <dd class="col-md-2">
            @Html.DisplayFor(model => model.WorkMan.AdminName)
        </dd>



        <dt class="col-sm-6">
            @Html.DisplayNameFor(model => model.WorkMan.LoginAccount)
        </dt>
        <dd class="col-md-2">
            @Html.DisplayFor(model => model.WorkMan.LoginAccount)
        </dd>
        <dt class="col-sm-6">
            @Html.DisplayNameFor(model => model.WorkMan.Permissions)
        </dt>
        @if (Model.WorkMan.Permissions == 0)
        {
            <dd class="col-md-2">管理员 </dd>
        }
        else
        {
            <dd class="col-md-2">普通员工</dd>
        }

        <dt class="col-sm-6">
            @Html.DisplayNameFor(model => model.WorkMan.CreateTime)
        </dt>
        <dd class="col-md-2">
            @Html.DisplayFor(model => model.WorkMan.CreateTime)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.WorkMan.Id" class="btn btn-warning">编辑</a> |
    <a asp-action="Index" class="btn btn-success">回到列表</a>
</div>
