@model FitNightSnackMgr.ViewModels.Categories.CategoryViewModels

@{
    ViewData["Title"] = "Edit";
}

<h1>编辑</h1>

<h4>类别信息修改</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="@Model.SnackCategory.Id" />
            <div class="form-group">
                <label asp-for="@Model.SnackCategory.CategoryNum" class="control-label"></label>
                <input asp-for="@Model.SnackCategory.CategoryNum" class="form-control" />
                <span asp-validation-for="@Model.SnackCategory.CategoryNum" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.SnackCategory.CategoryName" class="control-label"></label>
                <input asp-for="@Model.SnackCategory.CategoryName" class="form-control" />
                <span asp-validation-for="@Model.SnackCategory.CategoryName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="@Model.SnackCategory.Description" class="control-label"></label>
                <input asp-for="@Model.SnackCategory.Description" class="form-control" />
                <span asp-validation-for="@Model.SnackCategory.Description" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="@Model.SnackCategory.CategoryName" class="control-label"></label>
                <select asp-for="@Model.SnackCategory.Status" asp-items="Model.Status" class="selectpicker form-control" data-container="body" data-live-search="true" data-hide-disabled="true">
                    <option value="0">废弃</option>
                    <option value="1">使用</option>
                </select>
                <span asp-validation-for="@Model.SnackCategory.CategoryName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="保存" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">返回主菜单</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
